@include test-module('oTypographyDefineFontScale') {
    $custom-font-scale: (
        -2: (1, 1),
        -1: (2, 2),
        0: (3, 3),
        1: (4, 4),
        2: (5, 6),
        3: (6, 8),
        4: (8, 10),
        5: (10, 12),
        6: (12, 14),
        7: (14, 16),
        8: (16, 18),
        9: (18, 20),
        10: (20, 22)
    );
	@include test('Adds scale to font scale map.') {
        // Set custom scale for custom font.
        @include oTypographyDefineFontScale('MyFont, sans', $custom-font-scale);

        // The custom scale is added to the font scale map.
        @include assert-equal(
            $_o-typography-font-scale-by-font,
            (
                'MyFont': $custom-font-scale
            )
        );
	}
}

@include test-module('oTypographySetCustomFont') {
	@include test('Updates the global variable for the sans font') {
        @include oTypographySetCustomFont(
            $family-style: 'sans',
            $family: 'system-ui',
            $variants: (
                (weight: semibold, style: normal),
                (weight: regular, style: normal),
                (weight: bold, style: normal)
            )
        );
        @include assert-equal($o-typography-sans, 'system-ui');
	}
	@include test('Updates the global variable for the serif font') {
        @include oTypographySetCustomFont(
            $family-style: 'serif',
            $family: 'MySerifFont, serif',
            $variants: (
                (weight: semibold, style: normal),
                (weight: regular, style: normal),
                (weight: bold, style: normal)
            )
        );
        @include assert-equal($o-typography-serif, 'MySerifFont, serif');
	}
	@include test('Updates the global variable for the display font') {
        @include oTypographySetCustomFont(
            $family-style: 'display',
            $family: 'MyDisplayFont',
            $variants: (
                (weight: semibold, style: normal),
                (weight: regular, style: normal),
                (weight: bold, style: normal)
            )
        );
        @include assert-equal($o-typography-display, 'MyDisplayFont');
	}
}
