@import 'o-grid/main';
@import 'o-fonts/main';
@import 'o-colors/main';
@import 'o-icons/main';

@import 'src/scss/brand';
@import 'src/scss/variables';
@import 'src/scss/functions';
@import 'src/scss/mixins';
@import 'src/scss/type-mixins';
@import 'src/scss/use-cases/general';
@import 'src/scss/use-cases/headings';
@import 'src/scss/use-cases/product-headings';
@import 'src/scss/use-cases/article';
@import 'src/scss/use-cases/asides';
@import 'src/scss/use-cases/wrapper';
@import 'src/scss/deprecated';

/// Output all default typography styles.
@mixin oTypography($opts: ('product', 'article')) {
	$product-enabled: index($opts, 'product');
	$article-enabled: index($opts, 'article');

	// @breaking Remove this conditional. Always include required font faces.
	@if $o-typography-load-fonts == true {
		@include oFontsIncludeAll();
	}

	// Headings
	@if _oTypographySupports('heading-level-one-large') {
		.o-typography-headline--large,
		.o-typography-heading-level-1--large {
			@include oTypographyHeadlineLarge;
		}
	}

	.o-typography-headline,
	.o-typography-heading-level-1 {
		@include oTypographyHeadline;
	}

	.o-typography-heading-level-2 {
		@include oTypographyHeadingLevel2;
	}

	.o-typography-heading-level-3 {
		@include oTypographyHeadingLevel3;
	}

	.o-typography-heading-level-4 {
		@include oTypographyHeadingLevel4;
	}

	.o-typography-heading-level-5 {
		@include oTypographyHeadingLevel5;
	}

	.o-typography-body {
		@include oTypographyBody;
	}

	// Body copy - common
	.o-typography-bold {
		@include oTypographyBold;
	}

	.o-typography-italic {
		@include oTypographyItalic;
	}

	.o-typography-sup {
		@include oTypographySuper;
	}
	.o-typography-sub {
		@include oTypographySub;
	}

	.o-typography-link {
		@include oTypographyLink;
	}

	.o-typography-link--external {
		@include oTypographyLinkExternal;
	}

	.o-typography-caption {
		@include oTypographyCaption;
	}

	.o-typography-list {
		@include oTypographyList;
	}

	.o-typography-list--ordered {
		@include oTypographyListOrdered;
	}

	.o-typography-list--unordered {
		@include oTypographyListUnordered;
	}

	.o-typography-footer {
		@include oTypographyFooter;
	}

	.o-typography-blockquote {
		@include oTypographyBlockquote;
	}

	// Body wrapper
	.o-typography-wrapper {
		@include oTypographyWrapper;
	}

	// Body wrapper for non-article related products
	@if $product-enabled and _oTypographySupports('product') {
		.o-typography-wrapper--product {
			@include oTypographyWrapper($style: product);
		}
	}

	// Product Headings
	@if $product-enabled and _oTypographySupports('product') {
		.o-typography-product-heading-level-1 {
			@include oTypographyProductHeadingLevel1;
		}

		.o-typography-product-heading-level-2 {
			@include oTypographyProductHeadingLevel2;
		}

		.o-typography-product-heading-level-3 {
			@include oTypographyProductHeadingLevel3;
		}

		.o-typography-product-heading-level-4 {
			@include oTypographyProductHeadingLevel4;
		}

		.o-typography-product-heading-level-5 {
			@include oTypographyProductHeadingLevel5;
		}

		.o-typography-product-heading-level-6 {
			@include oTypographyProductHeadingLevel6;
		}

		.o-typography-product-heading-level-7 {
			@include oTypographyProductHeadingLevel7;
		}

		.o-typography-product-heading-level-8 {
			@include oTypographyProductHeadingLevel8;
		}

		.o-typography-product-heading-level-7--thin-rule {
			@include oTypographyProductHeadingLevel7;
			border-top: 1px solid oColorsGetPaletteColor('black-30');
			padding-top: oTypographySpacingSize(3);
			margin-bottom: oTypographySpacingSize(1);
		}
	}

	// FT.com article styles.
	@if $article-enabled and _oTypographySupports('article') {
		.o-typography-topic {
			@include oTypographyTopic;
		}

		.o-typography-author {
			@include oTypographyAuthor;
		}

		.o-typography-standfirst {
			@include oTypographyStandfirst;
		}

		.o-typography-big-number {
			@include oTypographyBigNumber;
		}

		.o-typography-read-next {
			@include oTypographyReadNext;
		}

		// Collection Heading
		.o-typography-collection-heading {
			@include oTypographyCollectionHeader;
		}

		// Timestamps usecase
		.o-typography-timestamp {
			@include oTypographyTimestamp;
		}
	}
}

// So the build service can output all typography styles.
@if $o-typography-is-silent == false {
	@include oTypography();
	// Don't output twice
	$o-typography-is-silent: true !global;
}
