$o-typography-is-silent: false;

@import '../../main';

html {
	@include oColorsFor(page);
	overflow-y: scroll;
	font-family: $o-typography-sans;
}

.demo {
	// prevent images and media from expanding its container
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	figure {
		margin: 0 0 28px;
	}
}

.type-scale {
	margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;

	&__label {
		@include oTypographySans(1);
		color: oColorsGetPaletteColor('black-60');
		display: inline-block;
		width: 20px;
		padding-left: 5px;
		padding-right: 10px;
	}

	&__example {
		margin-bottom: 12px;
		white-space: nowrap;
		overflow: hidden;
	}

	@each $scale, $values in $o-typography-font-scale {
		&__example-#{$scale} {
			@include oTypographyDisplay($scale);
		}
	}
}

.o-typography-link--custom {
	@include oTypographyLinkCustom(
		$baseColor: 'claret',
		$hoverColor: 'claret-30'
	);
}

.line-width-demo {
	display: flex;

	.selection {
		min-width: 100px;
		margin: 20px;
	}

	.scale {
		&--1 {
			@include oTypographySans(-1);
			max-width: oTypographyMaxLineWidth(-1);
		}
		&--2 {
			@include oTypographySans(-2);
			max-width: oTypographyMaxLineWidth(-2);
		}
		&-0 {
			@include oTypographySans(0);
			max-width: oTypographyMaxLineWidth(0);
		}
		&-1 {
			@include oTypographySans(1);
			max-width: oTypographyMaxLineWidth(1);
		}
		&-2 {
			@include oTypographySans(2);
			max-width: oTypographyMaxLineWidth(2);
		}
	}
}

// Styles for a custom font with custom font scale demo.
$custom-mono: 'Courier New, Courier, mono';
@include oFontsDefineCustomFont($custom-mono, (
	(weight: regular, style: normal),
	(weight: regular, style: italic),
	(weight: bold, style: normal),
	(weight: bold, style: italic)
));
@include oTypographyDefineFontScale($custom-mono, (
   -2: (12, 16),
   -1: (14, 16),
    0: (16, 20),
    1: (18, 20),
    2: (20, 24),
    3: (24, 28),
    4: (28, 32),
    5: (32, 32),
    6: (40, 40),
    7: (48, 48),
    8: (56, 56),
    9: (72, 72),
   10: (84, 84),
));
.custom-font {
	h1 {
		@include oTypography($custom-mono, (
			family: true,
			scale: 5,
			weight: bold
		));
	}
	h2 {
		@include oTypography($custom-mono, (
			family: true,
			scale: 4
		));
	}
	h3 {
		@include oTypography($custom-mono, (
			family: true,
			scale: 3
		));
	}
	p {
		@include oTypography($custom-mono, (
			family: true,
			scale: 1
		));
	}
}
