$o-typography-is-silent: false;

@import '../../main';

html {
	@include oColorsFor(page, background);
	overflow-y: scroll;
}

hr {
	margin: 40px 0 20px;
}

.demo {
	padding: 20px 0;
	// prevent images and media from expanding its container
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	figure {
		margin-right: 0;
		margin-left: 0;
	}
}
