<article class="o-grid-row demo demo-article">
	<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
		<div class="o-typography-heading1">Heading 1</div>
		<div class="o-typography-heading2">Heading 2</div>
		<div class="o-typography-heading3">Heading 3</div>
		<div class="o-typography-heading4">Heading 4</div>
		<div class="o-typography-heading5">Heading 5</div>
		<div class="o-typography-subhead">Subhead</div>
		<div class="o-typography-subhead--standard">Subhead standard</div>
		<div class="o-typography-subhead--crosshead">Subhead crosshead</div>
		<div class="o-typography-bold">Bold</div>
		<div class="o-typography-italic">Italic</div>
		<p>Lorem ipsum dolor sit amet<span class="o-typography-sup">Sup</span>, consectetur adipisicing elit<span class="o-typography-sub">Sub</span>. <a class="o-typography-link">Link Necessitatibus asperiores</a></p>
		<div class="o-typography-caption">Caption</div>
		<div class="o-typography-flyline">Flyline (deprecated)</div>
		<div class="o-typography-link-topic">Link topic</div>
		<div class="o-typography-link-topic--medium">Topic medium</div>
		<div class="o-typography-body">Body - Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a class="o-typography-link">Link</a> A rem excepturi consequuntur commodi dolores ad laboriosam qui odit ipsum distinctio quos laborum dolore magnam iure rerum, enim deleniti saepe sunt.</div>
		<div class="o-typography-block">Block (applies top and bottom margin of body but no font styles). A rem excepturi consequuntur commodi dolores ad laboriosam qui odit ipsum distinctio quos laborum dolore magnam iure rerum.</div>
		<div class="o-typography-lead">Lead</div>
		<div class="o-typography-lead--small">Lead small</div>

		<ul class="o-typography-list"><li>List</li><li>List</li></ul>
		<ol class="o-typography-list--ordered"><li>List ordered</li><li>List ordered</li></ol>
		<ul class="o-typography-list--unordered"><li>List unordered</li><li>List unordered</li></ul>
		<div class="o-typography-footer">Footer Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
		<div class="o-typography-blockquote">Blockquote</div>
		<div class="o-typography-big-number">Big number</div>
		<div class="o-typography-aside__title">Aside title</div>
		<div class="o-typography-aside__title--large">Aside title large</div>
		<div class="o-typography-aside__headline">Aside headline</div>
		<div class="o-typography-aside__headline--small">Aside headline small</div>
		<div class="o-typography-aside__headline--large">Aside headline large</div>
		<div class="o-typography-aside__body">Aside body</div>
		<div class="o-typography-aside__body--small">Aside body small</div>
		<div class="o-typography-timestamp">Timestamp</div>

		<br><br><br>

		<div class="o-typography-body-wrapper">
			<h1>Wrapper general - h1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<p>Body and body block (duplicating margins...)<a href="#">Link</a></p>
			<ol><li>List ordered</li><li>List ordered</li></ol>
			<ul><li>List unordered</li><li>List unordered</li></ul>
			<footer>Footer</footer>
			<blockquote><p>Blockquote text</p><footer>Blockquote footer</footer></blockquote>
			<aside>
				<h3>Aside title (h3)</h3>
				<h4>Aside headline (h4)</h4>
				<div><p>Aside body (div > p)</p></div>
				<footer>Bold (footer tag)</footer>
				<blockquote><p>blockquote</p></blockquote>
			</aside>
		</div>
	</div>
</article>
