/// Outputs styling for headings, namely the font size based on the scale and the font-weight based on preference,
/// along with the base colour
///
/// @param {Number} $scale number on scale the sizes are based on
/// @param {String} $weight to determine which font to load
@mixin _oTypographyProductHeadingBase($scale, $weight: regular) {
	@include oTypographyMargin($top: 0, $bottom: 5);
	@include oColorsFor('o-typography-headline');
	@if $weight == regular {
		@include oTypographySans($scale: $scale);
		font-weight: 400;
	} @else if $weight == semibold {
		@include oTypographySansBold($scale: $scale);
	} @else {
		@error '#{$weight} is not a defined weight in oTypography';
	}
}

/// Outputs the font size based on the scale, also accepts a font adjustment
/// parameter for when outputting styles for progressively loaded fonts
///
/// @param {Number} $scale - Number on scale the sizes are based on.
/// @param {Number} $progressive-font-adjust - Multiplier for font-size adjustments, when adding styles for progressively loaded font.
/// @param {String} $font [''] - The font to get the font size for, as fonts may have different scales. Uses the default scale if not specified.
@mixin _oTypographyFontSize($scale, $progressive-font-adjust: 1, $font: '') {
	@if type-of($scale) == map {
		@each $breakpoint, $number in $scale {
			@if $breakpoint == 'default' {
				@if type-of($number) == list {
					font-size: _oTypographyFontSizeFromScale(nth($number, 1), $progressive-font-adjust, $font);
				} @else {
					font-size: _oTypographyFontSizeFromScale($number, $progressive-font-adjust, $font);
				}
			} @else {
				@include oGridRespondTo($breakpoint) {
					@if type-of($number) == list {
						font-size: _oTypographyFontSizeFromScale(nth($number, 1), $progressive-font-adjust, $font);
					} @else {
						font-size: _oTypographyFontSizeFromScale($number, $progressive-font-adjust, $font);
					}
				}
			}

		}
	} @else {
		font-size: _oTypographyFontSizeFromScale($scale, $progressive-font-adjust, $font);
	}
}

/// Outputs the font size and line height based on the scale, also
/// accepts an override line-height to output and a font adjustment
/// parameter for when outputting styles for progressively loaded fonts
///
/// @param {Number} $scale number on scale the sizes are based on
/// @param {Bool | Number} $line-height size to override the line-height property
/// @param {String} $font [''] - The font to get the font size for, as fonts may have different scales. Uses the default scale if not specified.
@mixin oTypographySize($scale, $line-height: false, $font: '') {
	@if type-of($scale) == map {
		@each $breakpoint, $scale in $scale {
			@if $breakpoint == 'default' {
				@if type-of($scale) == list {
					font-size: _oTypographyFontSizeFromScale(nth($scale, 1), 1, $font);
					line-height: nth($scale, 2);
				} @else {
					font-size: _oTypographyFontSizeFromScale($scale, 1, $font);
					line-height: _oTypographyLineHeightFromScale($scale, $line-height, $font);
				}
			} @else {
				@include oGridRespondTo($breakpoint) {
					@if type-of($scale) == list {
						font-size: _oTypographyFontSizeFromScale(nth($scale, 1), 1, $font);
						line-height: nth($scale, 2);
					} @else {
						font-size: _oTypographyFontSizeFromScale($scale, 1, $font);
						line-height: _oTypographyLineHeightFromScale($scale, $line-height, $font);
					}
				}
			}
		}
	} @else {
		font-size: _oTypographyFontSizeFromScale($scale, 1, $font);
		line-height: _oTypographyLineHeightFromScale($scale, $line-height, $font);
	}
}

/// Outputs the progressive font fallback styles based on
/// font and scale if the font has fallback settings
///
/// @todo Make private in the next major release.
/// @deprecated The progressive font fallback is output by other `o-typography` mixins, and should not be needed directly within products.
///
/// @param {String} $font - Font to output fallback styles for (or .
/// @param {Number} $scale - Number on scale the size is based on.
/// @param {String} $weight [null] - The weight of the font which needs a fallback e.g. 'bold'.
/// @param {String} $style [null] - The style of the font which needs a fallback e.g. 'italic'.
@mixin oTypographyProgressiveFontFallback($font, $scale, $weight: null, $style: null) {
	@if $scale {
		// If falsy weight/style default to regular/normal.
		$weight: if($weight, $weight, 'regular');
		$style: if($style, $style, 'normal');
		// Find fallback config for font, weight, and style.
		@each $fallback in $_o-typography-progressive-font-fallbacks {
			// Get fallback properties.
			$fallback-family: map-get($fallback, 'family');
			$fallback-label: map-get($fallback, 'label');
			$fallback-weight: map-get($fallback, 'weight');
			$fallback-style: map-get($fallback, 'style');
			$fallback-scale: map-get($fallback, 'fallback-scale');
			// Check if fallback is for the given font, weight, and style.
			$label-match: $fallback-label == $font; // For backward compatibility
			$family-match: $fallback-family == $font;
			$weight-match: if($fallback-weight, index($fallback-weight, $weight), true);
			$style-match: if($fallback-style, index($fallback-style, $style), true);
			// Output the fallback if it matches.
			@if ($label-match or ($family-match and $weight-match and $style-match)) {
				.#{$o-typography-loading-prefix}-#{$fallback-label} & {
					@include _oTypographyFontSize($scale: $scale, $progressive-font-adjust: $fallback-scale, $font: $fallback-family);
					font-family: map-get($fallback, 'fallback');
				}
			}
		}
	}
}

/// Outputs margin-top and/or margin-bottom based on multiples of
/// the baseline unit passed to the mixin
///
/// @param {Bool | Number} $top [false] - multiple of the baseline unit for top margin
/// @param {Bool | Number} $bottom [false] - multiple of the baseline unit for bottom margin
@mixin oTypographyMargin($top: false, $bottom: false) {
	@if $top {
		margin-top: oTypographySpacingSize($top);
	}

	@if $bottom {
		margin-bottom: oTypographySpacingSize($bottom);
	}
}

/// Outputs padding-top and/or padding-bottom based on multiples of
/// the baseline unit passed to the mixin
///
/// @param {Bool | Number} $top [false] - multiple of the baseline unit for top padding
/// @param {Bool | Number} $bottom [false] - multiple of the baseline unit for bottom padding
@mixin oTypographyPadding($top: false, $bottom: false) {
	@if $top {
		padding-top: oTypographySpacingSize($top);
	}

	@if $bottom {
		padding-bottom: oTypographySpacingSize($bottom);
	}
}

/// Outputs font-weight property for the given font
///
/// @param {Bool | String} $font [false] - font-family that is going to be styled bold
@mixin oTypographyBold($font: false) {
	@if $font == 'sans' {
		font-weight: 600;
	} @else {
		font-weight: 700;
	}
}
