/// Body text styles
@mixin oTypographyBody {
	// If family style is not given default to sans.
	$family-style: _oTypographyGet('family-style', 'body');
	$family-style: if($family-style, $family-style, 'sans');
	$font-family: _oTypographyFontFamilyForStyle($family-style);
	// If scale isn't given default to 1.
	$scale: _oTypographyGet('scale', 'body');
	$scale: if($scale, $scale, 1);
	@include _oTypographyFor($font-family, $opts: (
		'family': true,
		'scale': $scale,
		'custom-line-height':  _oTypographyGet('custom-line-height', 'body'),
	));
	// Add bottom margin if set.
	$bottom-spacing-size: _oTypographyGet('bottom-spacing-size', 'body');
	@if $bottom-spacing-size {
		margin: 0 0 oTypographySpacingSize($bottom-spacing-size) 0;
	}
	color: oColorsGetColorFor('body', 'text');
}

/// Style for timestamps
/// @brand master
@mixin oTypographyTimestamp {
  @include oTypographySans($scale: 0);
  @include oTypographyMargin($bottom: 4);
  display: inline-block;
  text-transform: uppercase;
  color: oColorsGetPaletteColor('black-60');
}

/// Article Standfirst styles
/// @brand master
@mixin oTypographyStandfirst {
	@include oTypographySans($scale: 2);
	@include oTypographyMargin($top: 0, $bottom: 9);
	color: oColorsGetPaletteColor('black-60');
}

/// Common tag styles - not used directly.
/// Includes styles for `a` and `span` child elements
/// @brand master
@mixin oTypographyTag {
	@include oColorsFor('tag-link', text);
	text-decoration: none;
	border: 0;
	display: inline-block;

	&:hover {
		@include oColorsFor('tag-link-hover', text);
	}

	a {
		color: inherit;
		cursor: pointer;
		text-decoration: none;
		border: 0;
		&:hover {
			color: inherit;
		}
	}

	span {
		font-weight: 400;
	}
}

/// Article author styles - inherits from oTypographyTag mixin
/// @brand master
@mixin oTypographyAuthor {
	@include oTypographyTag;
	@include oTypographySansBold($scale: 0);
	color: oColorsGetColorFor('body', 'text');
	&:hover {
		@include oColorsFor('tag-link', text);
	}
}

/// Article Topic styles - inherits from oTypographyTag mixin
/// @brand master
@mixin oTypographyTopic {
	@include oTypographyTag;
	@include oTypographySansBold($scale: 0);
}

/// Style for <footer> tags
/// @brand master
@mixin oTypographyFooter {
	@include oTypographySans($scale: 1, $line-height: 24px);
	color: oColorsGetColorFor('body', 'text');
}

/// Styles for photo or video credit/caption
/// @brand master
@mixin oTypographyCaption {
	@include oTypographySans($scale: -1);
	@include oTypographyMargin($top: 2, $bottom: 0);
	color: oColorsGetColorFor('body', 'text');
}
